*{
    margin: 0;
    padding: 0;
    font-family:"Samsung";

}
@font-face{
    font-family:"Samsungone";
    src: url(Font/SamsungOne-400.ttf);
}

@font-face{
    font-family:"Samsung";
    src: url(Font/samsungsharpsans-medium.otf);
}

html{
    overflow-x: hidden;
}
nav{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #fff;
}
nav .wrapper{
    position: relative;
    max-width: 1300px;
    padding: 0 30px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .logo{
    padding: 20px 0 0 0;
} */

.wrapper .nav-links{
    display: inline-flex;
}


.nav-links li {
    list-style: none;
}

.nav-links li a{
color: #000;
text-decoration: none;
font-size: 14px;
font-weight: 700;
padding: 5px 9px;
margin:0 10px 0 0 ;
border-radius: 20px;
 font-family: "SamsungOne";
 transition: all 0.5s;
}

.nav-links li a:hover{
    background-color: #000;
    color: #fff;
}

.nav-links a i {
    color: #000;
    margin: 0 15px 0 0;
    font-size: 16px;
    transition: all 0.5s;
}

.nav-links a i:hover{
    color: #585858;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url(./image/HP-FT03-KV-Z-Fold5-1440x640-D.jpeg);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

header h1 {
font-size: 45px;
position: absolute;
top: 45%;
left: 5%;
}


header h4 {
    font-size: 15px;
    position: absolute;
    top: 53%;
    left: 5%;
    letter-spacing: 0.5px;
    color:#5e5e5e;
    margin: 0 0 0 15px;
    font-family:"Samsungone";
    }

    header .button{
        position: absolute;
        bottom: 30%;
        left: 5%;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.5px;
        cursor: pointer;
    }

    header .button::before{
        content:"";
        width: 100%;
        height: 0.105rem;
        position: absolute;
        bottom: -4px;
        left: 0;
        background-color: #000;

    }


    header .buy{
        position: absolute;
        bottom: 28%;
        left: 13%;
        font-size: 13px;
        background-color: #000;
        color: #fff;
        padding: 10px 18px;
        border-radius: 20px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.5s;

    }

    header .buy:hover{
        background-color: #5e5e5e;
    }

    .specification{
        width: 100%;
        height: 100%;
        position: relative;
        padding: 4rem;
        
    
    }
    .specification h1{
        font-size: 30px;
        letter-spacing: 0.5px;
        text-align: center;
        cursor: pointer;
    }

    .specification .Z{
        display: inline-flex;
    }

    .Z li {
        list-style: none;
    }

    .Z li a {
        color: #000;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        padding: 5px 9px 0 0;
        margin:0 10px 0 0 ;
        border-radius: 10px;
         font-family: "SamsungOne";
         transition: all 0.5s;
         padding-left: 150px;
         display:inline-block
         
         
        }

        .Z li a:hover{
            background-color: #000;
            color: #fff;
        }

    
 